{% extends "base.html" %}
{% block title %}Biometrics - info for {{ data.username }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}


{% block content %}
  {{ super() }}

  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto mt-3">
        <div class="mt-2">
          <h4 class="text-monospace text-center mt-4">Biometrics information</h4>

          {% for d in data %}
            <div class="card mt-4 mx-auto" style="background-color: rgba(0, 209, 255, 0.1);">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">User</h6>
                <p class="card-text"><strong>Username: </strong> {{ d['username'] }}</p>
                <h6 class="card-subtitle mb-2 text-muted">Steps</h6>
                <p class="card-text"><strong>Steps number:</strong> {{  d['steps'][0]['value'] }} </p>
                <p class="card-text"><strong>Time stamp:</strong> {{  d['steps'][0]['timeStamp'] }}</p>
                <h6 class="card-subtitle mb-2 text-muted">Calories</h6>
                <p class="card-text"><strong>Burned:</strong> {{  d['caloriesBurned'][0]['value'] }} </p>
                <p class="card-text"><strong>Time stamp:</strong> {{  d['caloriesBurned'][0]['timeStamp'] }}</p>
                <h6 class="card-subtitle mb-2 text-muted">Distance</h6>
                <p class="card-text"><strong>Traveled:</strong> {{  d['distanceTraveled'][0]['value'] }} </p>
                <p class="card-text"><strong>Time stamp:</strong> {{  d['distanceTraveled'][0]['timeStamp'] }}</p>
                <h6 class="card-subtitle mb-2 text-muted">Heart Rate</h6>
                <p class="card-text"><strong>BPM:</strong> {{  d['BPM'][0]['pulse'] }} </p>
                <p class="card-text"><strong>Time stamp:</strong> {{  d['BPM'][0]['timeStamp'] }}</p>
                <h6 class="card-subtitle mb-2 text-muted">Sleep Session</h6>
                <p class="card-text"><strong>Begin:</strong> {{  d['sleepSession'][0]['begin'] }} </p>
                <p class="card-text"><strong>End:</strong> {{  d['sleepSession'][0]['end'] }}</p>
              </div>
            </div>
            {% endfor %}


        </div>

      </div>
    </div>
  </div>

  {% endblock %}
